.expense-table {
    .stats {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        margin-bottom: 1rem;
        column-gap: 1rem;

        & > div {
            padding: 1rem;

            small {
                color: rgba(black, 0.4);
                display: block;
                // letter-spacing: 0.5px;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
        }
    }

    .toolbar {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        .spacer {
            flex-grow: 1;
            overflow-x: scroll;
            overflow-y: scroll;
            white-space: nowrap;
            scrollbar-width: 0px;
        }

        .button {
            white-space: nowrap;
        }

        .filter-chip {
            * {
                cursor: pointer !important;
            }

            display: inline-block;
            transition: transform 0.15s;

            &:hover {
                transform: scale(0.95);
            }
        }
    }
}
